<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= link_to @comment.subject.title, subject_url(@comment.subject.id) %>
</p>
<p>
  <strong>Content:</strong>
  <%= @comment.subject.description %>
</p>
<p>
  <%= link_to '', boards_url, class: "glyphicon glyphicon-arrow-up" %>
  <%= link_to '', boards_url, class: "glyphicon glyphicon-arrow-down" %>
  <strong>Votes:</strong>
  <%= @comment.value %> |
  <strong>Created by:</strong>
  <%= @comment.user.email.split('@').first %>
</p>
<p>
  <strong>Comment:</strong>
  <%= @comment.description %>
</p>
<%= link_to 'Edit', edit_subject_comment_path(subject_id: @comment.subject.id), class: "btn btn-default btn-xs"  %>
