<p id="notice"><%= notice %></p>

<p>
  <strong>Thread Title:</strong>
  <%= @comment.subject.title %>
</p>
<p>
  <strong>Thread Content:</strong>
  <%= @comment.subject.description %>
</p>
<p>
  <strong>Votes:</strong>
  <%= @comment.value %> |
  <strong>Created by:</strong>
  <%= @comment.user.email %>
</p>
<p>
  <strong>Comment:</strong>
  <%= @comment.description %>
</p>

<%= link_to 'Edit', edit_subject_comment_path(subject_id: @comment.subject.id), class: "btn btn-default btn-xs"  %> |
<%= link_to 'Back', subject_url(@comment.subject.id), class: "btn btn-default btn-xs"  %>
