<p id="notice"><%= notice %></p>

<p>
  <strong>Board:</strong>
  <%= link_to @subject.board.name, board_path(@subject.board_id) %> |
  <strong>Subject started by: </strong><%= @subject.user.email.split('@').first %>
</p>

<p>
  <%= link_to '', boards_url, class: "glyphicon glyphicon-arrow-up" %>
  <%= link_to '', boards_url, class: "glyphicon glyphicon-arrow-down" %>
  <strong>Votes:</strong>
  <%= @subject.value %> |
  <strong>Title:</strong>
  <%= @subject.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @subject.description %>
</p>
<%= link_to 'Edit', edit_subject_path(@subject), class: "btn btn-default btn-xs" %>
<p>
  <strong>Comments:</strong>
    <%= @subject.comments.count %>
</p>
<p>

  <table class="table table-hover table-striped table-condensed">
    <thead>
      <tr>
        <th></th>
        <th>votes</th>
        <th>User ID</th>
        <th>description</th>
        <th>Created on</th>
      </tr>
    </thead>
    <tbody>
      <% @subject.comments.each do |comment| %>
        <tr>
          <td><%= link_to '', boards_url, class: "glyphicon glyphicon-arrow-up" %>
            <%= link_to '', boards_url, class: "glyphicon glyphicon-arrow-down" %></td>
          <td><%= comment.value %></td>
          <td><%= comment.user.email.split('@').first %></td>
          <td><%= link_to comment.description, subject_comment_path(subject_id: @subject.id, id: comment.id)  %></td>
          <td><%= comment.created_at.strftime("%m/%d/%y") %></td>
          <% if policy(comment).update? %>
          <td><%= link_to 'Edit', edit_subject_comment_path(subject_id: @subject.id, id: comment.id), class: "btn btn-default btn-xs"  %></td>
          <td><%= link_to 'Destroy', subject_comment_path(subject_id: @subject.id, id: comment.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-xs"  %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

</p>
  <%= link_to 'New', new_subject_comment_path(subject_id: @subject.id), class: "btn btn-default btn-xs" %>
