<p id="notice"><%= notice %></p>

<h1>Listing Boards</h1>

<table class="table table-hover table-striped table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="10"></th>
    </tr>
  </thead>

  <tbody>
    <% @boards.each do |board| %>
      <tr>
        <td><%= board.name %>| subjects: <span class="badge"><%= board.subjects.count %></span></td>
        <br>
        <td><%= link_to 'Show', board, class: "btn btn-default btn-xs"  %></td>
        <td><%= link_to 'Edit', edit_board_path(board), class: "btn btn-default btn-xs"  %></td>
        <td><%= link_to 'Destroy', board, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-xs"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Board', new_board_path, class: "btn btn-default btn-xs"  %>
