<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @board.name %>
  <%= render 'subjects/index' %>
</p>
<BR>
<BR>

<%= link_to 'Edit', edit_board_path(@board), class: "btn btn-default btn-xs" %> |
<%= link_to 'Back', boards_path, class: "btn btn-default btn-xs" %>
